*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #8f5909ab;
}

.part-1{
    height: 970px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    flex-direction: column;
    background-color: #123;
    font-family: Arial, Helvetica, sans-serif;
    gap: 50px;
}

.part-1 img{
    display: none;
}

.title{
    font-size: 48px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
}

.description{
    text-align: center;
    max-width: 600px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    color:rgba(255, 194, 80, 0.76) ;
}

.skills{
    font-size: 20px;
    color: #fff;
}

.bt{
    text-transform: uppercase;
    border: 2px solid rgba(255, 194, 80, 0.76);
    border-radius: 5px;
    background-color: #123;
    color: rgba(255, 194, 80, 0.76);
    width: 180px;
    height: 50px;
}

.bt:hover{
    opacity: 0.8;
}

.part-2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 970px;
    background-color: rgb(8, 33, 58);
    gap: 100px;
}

.part-2 p{
    text-align: center;
}


.part-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #123;
   
}

.img-1{
    height: 700px;
    width: 500px;
}

.img-2{
    width: 500px;
}


@media only screen and  (max-width : 600px) {

    .part-1{
        height: 550px;
    }

    .part-2 {
        flex-direction: column
    }

    .part-2 img{
        width: 350px;
    }
}

@media only screen and  (max-width : 600px) {

    .part-2 p{
        font-size: 15px;
    }

}