*{
    margin: 0;
    padding: 0;
    align-items: center;
}

body{
    background-color: #8f5909ab;
}

.logo-me{
    width: 3em;
    height: 3em;
    border-radius: 100%;
    background-image: url("../images/juice.png");
    background-size: 45px 65px;
    background-repeat: no-repeat;
    background-position: 3px 2px;
    margin:  0 auto;
}

.part-1{
    height: 970px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    flex-direction: column;
    background-color: #123;
    font-family: Arial, Helvetica, sans-serif;
    gap: 50px;
}

.title{
    font-size: 48px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
}

.description{
    text-align: center;
    max-width: 600px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    color:rgba(255, 194, 80, 0.76) ;
}

.skills{
    font-size: 20px;
    color: #fff;
}

.bt{
    text-transform: uppercase;
    border: 2px solid rgba(255, 194, 80, 0.76);
    border-radius: 5px;
    background-color: #123;
    color: rgba(255, 194, 80, 0.76);
    width: 180px;
    height: 50px;
}

.bt:hover{
    opacity: 0.8;
}

.part-2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 970px;
    background-color: rgb(8, 33, 58);
    gap: 200px;
}

.part-2 p{
    text-align: center;
}


.part-3{
    display: flex;
    height: 700px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #123;
    gap: 120px;
}

.part-3 h1{
    font-size: 35px;
}

.part-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    height: 400px;
    background-color:rgba(255, 194, 80, 0.76);
    gap: 25px;
}

.color{
    background-color:rgb(8, 33, 58);
}

.img-1{
    height: 700px;
    width: 500px;
}

.img-2{
    width: 500px;
}

.img-3{
    width: 300px;
    height: 500px;
}

input{
    border: none;
    border-radius: 5px;
    width: 30%;
}

.form-1{
    display: none;
}

[class*="reveal"]{
    opacity: 0;
    transform: translateY(45px);
}

.reveal-x{
    opacity: 0;
    transform: translateX(-45px);
}

.reveal-xi{
    opacity: 0;
    transform: translateX(45px);
}

.reveal-visible{
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(.5,0,0,1);
}

.reveal-2{
    transition-delay: .1s;
}

.reveal-3{
    transition-delay: .2s;
}

.reveal-4{
    transition-delay: .3s;
}

.reveal-5{
    transition-delay: .4s;
}

@media only screen and  (max-width : 1000px) {

    .part-1{
        height: 550px;
    }

    .part-2 {
        flex-direction: column;
        gap: 65px;
        height: 800px;
    }

    .part-2 img{
        width: 350px;
    }
}

@media only screen and  (max-width : 1000px) {

    .part-2 p{
        font-size: 15px;
    }

    .part-3{
        flex-direction: column;
        gap: 55px;
        height: 600px;
    }

}


@media only screen and  (max-width : 1300px) {

    .part-3 img{
        display: none;
    }

}

@media only screen and  (max-width : 600px) {

    .logo-me{
        display: none;
    }
    
    .progress{
        width: 300px;
    }

    .part-3 h1{
        font-size:28px;
    }

    .part-1 h2{
        font-size: 35px;
    }

}
